@charset "UTF-8";
:root {
  --cultured: hsla(210, 17%, 98%, 1);
  --cultured-2: hsla(210, 16%, 93%, 1);
  --gainsboro: hsla(210, 14%, 89%, 1);
  --light-gray: hsla(210, 14%, 83%, 1);
  --cadet-blue-crayola: hsla(210, 11%, 71%, 1);
  --sonic-silver: hsla(208, 7%, 46%, 1);
  --davys-grey: hsla(210, 9%, 31%, 1);
  --onyx: hsla(210, 10%, 23%, 1);
  --eerie-black: hsla(210, 11%, 15%, 1);
  --cg-blue: hsla(196, 64%, 37%, 1);
  --tiffany-blue: hsla(174, 79%, 43%, 1);
  --maximum-yellow-red: hsla(37, 100%, 73%, 1);
  --floral-white: hsla(40, 88%, 97%, 1);
  --light-coral: hsla(358, 99%, 71%, 1);
}

/* modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

dl {
  display: grid;
  grid-template-columns: 1fr 65%;
}

.dl--food {
  grid-template-columns: 1fr 1fr;
}
.dl--film {
  grid-template-columns: 1fr 80%;
}
.dl--ratings {
  grid-template-columns: 1fr 40%;
}

dd {
  margin: 0;
  padding-left: 1em;
}

dt {
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
  font-weight: bold;
}

dl dd {
  margin-bottom: 1em;
}

label {
  margin-right: 1rem;
}

input[type=search] {
  outline: none;
  -webkit-appearance: none;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem;
}
.container--input--watchlist {
  display: flex;
  justify-content: flex-start;
}
.container--watchlist {
  display: flex;
  flex-direction: column;
}

.watchlist--ul {
  padding-left: 0;
}
.watchlist--li {
  border: 2px solid hsla(40, 88%, 97%, 1);
  border: 2px solid var(--floral-white);
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.watchlist--li h4 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  margin-left: 1rem;
  flex-grow: 2;
}

.p--inputs {
  grid-column-start: 1;
  grid-column-end: 5;
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
}

.movie--input {
  border: none;
}

select,
.movie--input {
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  padding: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
  height: 3rem;
  width: 12rem;
}

.filmTeaser-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 811px) {
  .dl--drinksIngrediants {
    grid-template-columns: 1fr 1fr;
  }
  .dl--film {
    grid-template-columns: 1fr 75%;
  }
  .dl--ratings {
    grid-template-columns: 1fr 30%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .container form {
    width: 100%;
  }
  .movie--input {
    border: none;
  }
  select,
.movie--input {
    width: 100%;
  }
  .watchlist--ul {
    padding-left: 0;
  }
  .watchlist--li {
    width: 100%;
  }
  .watchlist--li h4 {
    color: hsla(40, 88%, 97%, 1);
    color: var(--floral-white);
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .article--teaser {
    max-width: 175px;
  }
}
.view--randomSelection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.selectionDetails {
  align-self: center;
}

.article--cocktail, .article--food, .article--movie {
  border-top: 1px solid hsla(40, 88%, 97%, 1);
  border-top: 1px solid var(--floral-white);
  align-items: center;
}
.article--cocktail--header, .article--food--header, .article--movie--header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}
.article--teaser {
  width: 250px;
  background-color: hsla(208, 7%, 46%, 1);
  background-color: var(--sonic-silver);
  border: 2px solid hsla(40, 88%, 97%, 1);
  border: 2px solid var(--floral-white);
  border-radius: 0.75rem;
  height: -moz-fit-content;
  height: fit-content;
}
.article--teaser h4 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  margin-left: 0.25rem;
}
.article--teaser .button-wrapper {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1rem;
}
.article--teaser .button-wrapper button {
  margin-top: 0;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

@media screen and (max-width: 1024px) {
  .view--randomSelection {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
.image--icon {
  max-width: 3rem;
  max-height: auto;
  margin-right: 1rem;
  border: solid 1px hsla(40, 88%, 97%, 1);
  border: solid 1px var(--floral-white);
  border-radius: 1rem;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  padding: 0.35rem;
}
.image--details {
  justify-self: center;
  align-self: center;
  width: 100%;
  border-radius: 0.75rem;
  border: solid 2rem hsla(40, 88%, 97%, 1);
  border: solid 2rem var(--floral-white);
}
.image--details--movie {
  border-radius: 0.75rem;
  border: solid 2rem hsla(40, 88%, 97%, 1);
  border: solid 2rem var(--floral-white);
  width: 100%;
}
.image--teaser {
  border-bottom: solid 2px hsla(40, 88%, 97%, 1);
  border-bottom: solid 2px var(--floral-white);
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  width: 100%;
}
.image--watchlist {
  width: 100px;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-right: 2px solid hsla(40, 88%, 97%, 1);
  border-right: 2px solid var(--floral-white);
}

@media screen and (max-width: 1024px) {
  .image--details > a .image--details {
    margin-bottom: 1rem;
  }
  .image--details {
    width: 350px;
  }
  .image--details--movie {
    width: 300px;
    border-radius: 0.75rem;
    border: solid 2rem hsla(40, 88%, 97%, 1);
    border: solid 2rem var(--floral-white);
  }
}
section {
  padding: 2.5rem;
  border-radius: 2.5rem;
}

.section--cocktail {
  background-color: hsla(37, 100%, 73%, 1);
  background-color: var(--maximum-yellow-red);
}
.section--food {
  background-color: hsla(174, 79%, 43%, 1);
  background-color: var(--tiffany-blue);
}
.section--movie {
  background-color: hsla(196, 64%, 37%, 1);
  background-color: var(--cg-blue);
}

@media screen and (max-width: 640px) {
  section {
    padding: 1rem 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 1.5rem;
  }
  section--cocktail {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) and (min-width: 640px) {
  section {
    padding: 2.5rem;
    margin: 1.5rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  section {
    padding: 2.5rem;
    margin: 1.5rem auto;
    width: 90%;
  }
}
@media screen and (min-width: 1248px) {
  section {
    width: 65%;
  }
}
button {
  padding: 1rem;
  border: solid 2px hsla(40, 88%, 97%, 1);
  border: solid 2px var(--floral-white);
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
  border-radius: 1rem;
  margin-top: 2rem;
}

.button--toTop {
  position: fixed;
  right: 1.5rem;
  bottom: 1rem;
  padding: 0;
  border-radius: 50%;
}
.button--toTop::before {
  content: "↑";
  display: inline-block;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}
.button--watchlist--remove {
  background: none;
  margin-top: 0;
  border: none;
  padding: 0;
}
.button--watchlist--remove img {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
}
.button--watchlist--remove:hover img {
  border: 2px solid hsla(40, 88%, 97%, 1);
  border: 2px solid var(--floral-white);
}
.button--container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.button--container button {
  width: -moz-fit-content;
  width: fit-content;
}
.button--clearWatchlist {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.primary {
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
}

.secondary {
  background-color: hsla(208, 7%, 46%, 1);
  background-color: var(--sonic-silver);
}

.button--details,
.button--watchlist,
.button--details--show,
.button--watchlist--show {
  position: relative;
  border: none;
  background: none;
  margin-top: 0;
  margin-left: 0.5rem;
}
.button--details::before,
.button--watchlist::before,
.button--details--show::before,
.button--watchlist--show::before {
  content: " ";
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.button--details::after,
.button--watchlist::after,
.button--details--show::after,
.button--watchlist--show::after {
  content: " ";
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  transition: all 0.25s ease-in-out;
}

.button--details--show::after,
.button--watchlist--show::after {
  transform: rotate(45deg);
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
  transition: all 0.25s ease-in-out;
}
.button--details--show::before,
.button--watchlist--show::before {
  transform: rotate(-45deg);
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
  transition: all 0.25s ease-in-out;
}

/****************************** epilogue-regular - latin **************************/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/epilogue/epilogue-v13-latin-regular.woff2") format("woff2"), url("../assets/fonts/epilogue/epilogue-v13-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* epilogue-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/epilogue/epilogue-v13-latin-700.woff2") format("woff2"), url("../assets/fonts/epilogue/epilogue-v13-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*************************** sora-300 - latin ********************************/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/sora/sora-v11-latin-300.woff2") format("woff2"), url("../assets/fonts/sora/sora-v11-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/sora/sora-v11-latin-regular.woff2") format("woff2"), url("../assets/fonts/sora/sora-v11-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/sora/sora-v11-latin-700.woff2") format("woff2"), url("../assets/fonts/sora/sora-v11-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Epilogue", sans-serif;
  width: 100%;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
}

h1,
h2,
h3,
h4 {
  font-family: "Sora", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: hsla(358, 99%, 71%, 1);
  color: var(--light-coral);
  font-weight: 800;
}

h2 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  text-align: center;
  font-size: 2rem;
  margin-top: 0px;
}

h3 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-size: 2rem;
}

h4,
h5,
h6 {
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
}

.h2--cocktail {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

.h2--food {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

.h2--movie {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

.no-recipe--notification {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

a:hover,
button:hover,
select:hover,
input:hover,
label:hover {
  cursor: pointer;
}

a {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}
a:hover {
  border-bottom: solid 0.25rem hsla(358, 99%, 71%, 1);
  border-bottom: solid 0.25rem var(--light-coral);
}

header {
  display: flex;
}

header h3 {
  max-width: 85%;
  word-wrap: break-word;
}

@media screen and (min-width: 1024px) {
  header h3 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 85%;
  }
  .selectionDetails h3 {
    font-size: 3rem;
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */