:root {
  --cultured: hsla(210, 17%, 98%, 1);
  --cultured-2: hsla(210, 16%, 93%, 1);
  --gainsboro: hsla(210, 14%, 89%, 1);
  --light-gray: hsla(210, 14%, 83%, 1);
  --cadet-blue-crayola: hsla(210, 11%, 71%, 1);
  --sonic-silver: hsla(208, 7%, 46%, 1);
  --davys-grey: hsla(210, 9%, 31%, 1);
  --onyx: hsla(210, 10%, 23%, 1);
  --eerie-black: hsla(210, 11%, 15%, 1);
  --cg-blue: hsla(196, 64%, 37%, 1);
  --tiffany-blue: hsla(174, 79%, 43%, 1);
  --maximum-yellow-red: hsla(37, 100%, 73%, 1);
  --floral-white: hsla(40, 88%, 97%, 1);
  --light-coral: hsla(358, 99%, 71%, 1);
}

/* modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

dl {
  display: grid;
  grid-template-columns: 1fr 80%;
}

dd {
  margin: 0;
  padding-left: 1em;
}

dt {
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
  font-weight: bold;
}

dl dd {
  margin-bottom: 1em;
}

.dl--food {
  grid-template-columns: 1fr 1fr;
}

.dl--ratings {
  display: grid;
  grid-template-columns: 1fr 60%;
}

label {
  margin-right: 1rem;
}

input {
  margin-left: 0.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container--diet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.view--randomSelection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-column-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.selectionDetails {
  align-self: center;
}

.image--icon {
  max-width: 3rem;
  max-height: auto;
  margin-right: 1rem;
  border: solid 1px hsla(40, 88%, 97%, 1);
  border: solid 1px var(--floral-white);
  border-radius: 1rem;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  padding: 0.35rem;
}

@media screen and (min-width: 640px) {
  .icons {
    grid-column-start: 2;
  }
  .image--details {
    justify-self: center;
    align-self: center;
    max-width: 100%;
    border: solid 2rem hsla(40, 88%, 97%, 1);
    border: solid 2rem var(--floral-white);
  }
}
section {
  padding: 2.5rem;
  margin: 2.5rem;
  border-radius: 2.5rem;
}

.section--cocktail {
  background-color: hsla(37, 100%, 73%, 1);
  background-color: var(--maximum-yellow-red);
}
.section--food {
  background-color: hsla(174, 79%, 43%, 1);
  background-color: var(--tiffany-blue);
}
.section--movie {
  background-color: hsla(196, 64%, 37%, 1);
  background-color: var(--cg-blue);
}

button {
  padding: 1rem;
  background-color: hsla(358, 99%, 71%, 1);
  background-color: var(--light-coral);
  border: solid 2px hsla(40, 88%, 97%, 1);
  border: solid 2px var(--floral-white);
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  border-radius: 1rem;
  margin-top: 2rem;
}

.button--container {
  text-align: center;
}

* {
  font-family: sans-serif;
}

body {
  width: 75%;
  margin: 2.5rem auto;
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: hsla(358, 99%, 71%, 1);
  color: var(--light-coral);
  font-weight: 800;
}

h2 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  text-align: center;
  font-size: 2rem;
  margin-top: 0px;
}

h3 {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-size: 2rem;
}

h4,
h5,
h6 {
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
}

.h2--cocktail {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

.h2--food {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

.h2--movie {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}

select {
  background-color: hsla(40, 88%, 97%, 1);
  background-color: var(--floral-white);
  padding: 0.5rem;
  border: none;
}

.no-recipe--notification {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

a:hover,
button:hover,
select:hover,
input:hover,
label:hover {
  cursor: pointer;
}

a {
  color: hsla(40, 88%, 97%, 1);
  color: var(--floral-white);
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 0.25rem hsla(40, 88%, 97%, 1);
  border-bottom: solid 0.25rem var(--floral-white);
}
a:hover {
  border-bottom: solid 0.25rem hsla(358, 99%, 71%, 1);
  border-bottom: solid 0.25rem var(--light-coral);
}

.p--inputs {
  grid-column-start: 1;
  grid-column-end: 7;
  color: hsla(210, 10%, 23%, 1);
  color: var(--onyx);
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */