button {
  padding: 1rem;
  border: solid 2px var(--floral-white);
  color: var(--floral-white);
  background-color: var(--light-coral);
  border-radius: 1rem;
  margin-top: 2rem;
}

.button {
  &--toTop {
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    padding: 0;
    border-radius: 50%;

    &::before {
      content: '\2191';
      display: inline-block;
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &--watchlist--remove {
    background: none;
    margin-top: 0;
    border: none;
    padding: 0;

    :is(img) {
      padding: 0.5rem;
      border-radius: 50%;
      background-color: var(--light-coral);
    }

    &:hover :is(img) {
      border: 2px solid var(--floral-white);
    }
  }

  &--container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    button {
      width: fit-content;
    }
  }

  &--clearWatchlist {
    margin-block: 1rem;
    margin-inline: auto;
  }
}

.primary {
  background-color: var(--light-coral);
}

.secondary {
  background-color: var(--sonic-silver);
}

.button--details,
.button--watchlist,
.button--details--show,
.button--watchlist--show {
  position: relative;
  border: none;
  background: none;
  margin-top: 0;
  margin-left: 0.5rem;

  &::before {
    content: ' ';
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: var(--floral-white);
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
  }

  &::after {
    content: ' ';
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: var(--floral-white);
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    transition: all 0.25s ease-in-out;
  }
}

.button--details--show,
.button--watchlist--show {
  &::after {
    transform: rotate(45deg);
    background-color: var(--light-coral);
    transition: all 0.25s ease-in-out;
  }

  &::before {
    transform: rotate(-45deg);
    background-color: var(--light-coral);
    transition: all 0.25s ease-in-out;
  }
}
