button {
  padding: 1rem;
  background-color: var(--light-coral);
  border: solid 2px var(--floral-white);
  color: var(--floral-white);
  border-radius: 1rem;
  margin-top: 2rem;
}

.button {
  &--toTop {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    border-radius: 50%;
    background: none;

    &::before {
      content: '\2191';
      display: inline-block;
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &--container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;

    button {
      width: fit-content;
    }
  }

  &--clearWatchlist {
    margin-block: 1rem;
    margin-inline: auto;
    background-color: grey;
  }
}

// .primary {
//   // background-color: ;
// }

.secondary {
  background-color: grey;
}

.button--details,
.button--watchlist,
.button--details--show,
.button--watchlist--show {
  position: relative;
  border: none;
  background: none;
  margin-top: 0;
  margin-left: 0.5rem;

  &::before {
    content: ' ';
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: var(--floral-white);
    transform: rotate(45deg);
    position: absolute;
    left: 0;
  }

  &::after {
    content: ' ';
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: var(--floral-white);
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
  }
}

.button--details--show {
  &::after {
    transform: rotate(45deg);
    background-color: var(--light-coral);
  }

  &::before {
    transform: rotate(-45deg);
    background-color: var(--light-coral);
  }
}

.button--watchlist--remove {
  padding: 0.5rem;
  background: none;
  margin-top: 0;
  border: none;
}
