button {
  padding: 1rem;
  background-color: var(--light-coral);
  border: solid 2px var(--floral-white);
  color: var(--floral-white);
  border-radius: 1rem;
  margin-top: 2rem;
}

.button--container {
  text-align: center;
}
