.image--icon {
  max-width: 3rem;
  max-height: auto;
  margin-right: 1rem;
  border: solid 1px var(--floral-white);
  border-radius: 1rem;
  background-color: var(--floral-white);
  padding: 0.35rem;
}

.image--details {
  justify-self: center;
  align-self: center;
  width: 100%;
  border: solid 2rem var(--floral-white);
}

@media screen and (max-width: 640px) {
  .image--details {
    border: solid 1rem var(--floral-white);
  }
}

@media screen and (max-width: 810px) and (min-width: 640px) {
}
