.image--icon {
  max-width: 3rem;
  max-height: auto;
  margin-right: 1rem;
  border: solid 1px var(--floral-white);
  border-radius: 1rem;
  background-color: var(--floral-white);
  padding: 0.35rem;
}

@media screen and (min-width: 640px) {
  .icons {
    grid-column-start: 2;
  }

  .image--details {
    justify-self: center;
    align-self: center;
    max-width: 100%;
    border: solid 2rem var(--floral-white);
  }
}
