section {
  padding: 2.5rem;
  margin: 2.5rem;
}

.section {
  &--cocktail {
    background-color: var(--maximum-yellow-red);
  }

  &--food {
    background-color: var(--tiffany-blue);
  }
}

img {
  border: solid 2rem var(--floral-white);
}

dl {
  display: grid;
  grid-template-columns: 1fr 80%;
}

dd {
  margin: 0;
  padding-left: 1em;
}

dl dd {
  margin-bottom: 1em;
}
