dl {
  display: grid;
  grid-template-columns: 1fr 65%;
}

.dl {
  &--food {
    grid-template-columns: 1fr 1fr;
  }

  &--film {
    grid-template-columns: 1fr 80%;
  }

  &--ratings {
    grid-template-columns: 1fr 40%;
  }
}

dd {
  margin: 0;
  padding-left: 1em;
}

dt {
  color: var(--onyx);
  font-weight: bold;
}

dl dd {
  margin-bottom: 1em;
}

label {
  margin-right: 1rem;
}

input {
  margin-left: 0.25rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.p--inputs {
  grid-column-start: 1;
  grid-column-end: 5;
  color: var(--onyx);
  font-weight: bold;
}

select {
  background-color: var(--floral-white);
  padding: 0.5rem;
  border: none;
  border-radius: 0.75rem;
  color: var(--onyx);
  height: 3rem;
}

select {
  width: 12rem;
}

@media screen and (max-width: 811px) {
  .dl {
    &--drinksIngrediants {
      grid-template-columns: 1fr 1fr;
    }

    &--film {
      grid-template-columns: 1fr 75%;
    }

    &--ratings {
      grid-template-columns: 1fr 30%;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  select {
    width: 100%;
  }
}

@media screen and (max-width: 985px) {
  .container {
    width: 100%;
  }
}
