dl {
  display: grid;
  grid-template-columns: 1fr 80%;
}

dd {
  margin: 0;
  padding-left: 1em;
}

dt {
  color: var(--onyx);
  font-weight: bold;
}

dl dd {
  margin-bottom: 1em;
}

.dl--food {
  grid-template-columns: 1fr 1fr;
}

.dl--ratings {
  display: grid;
  grid-template-columns: 1fr 60%;
}

label {
  margin-right: 1rem;
}

input {
  margin-left: 0.25rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container--diet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 811px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
