.view--randomSelection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 2rem;
}

.selectionDetails {
  align-self: center;
}

.article {
  &--cocktail,
  &--food,
  &--teaser,
  &--movie {
    border-top: 1px solid var(--floral-white);
    align-items: center;

    &--header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 811px) {
  .view--randomSelection {
    display: block;
  }
}
