.view--randomSelection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 2rem;
}

.selectionDetails {
  align-self: center;
}

.article {
  &--cocktail,
  &--food,
  &--movie {
    border-top: 1px solid var(--floral-white);
    align-items: center;

    &--header {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      height: fit-content;
    }
  }

  &--teaser {
    width: 250px;
    background-color: var(--background-teaser);
    border: 2px solid var(--floral-white);
    border-radius: 0.75rem;
    height: fit-content;

    h4 {
      color: var(--floral-white);
      margin-left: 0.25rem;
    }

    & :is(.button-wrapper) {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 1rem;

      button {
        margin-top: 0;
        padding: 0.5rem;
        border-radius: 0.75rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .view--randomSelection {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
