.view--randomSelection {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  column-gap: 2rem;
}

.selectionDetails {
  align-self: center;
}

@media screen and (max-width: 811px) {
  .view--randomSelection {
    display: block;
  }
}
